* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/* estilos generales */
body {
  background-color: rgba(187, 187, 187, 0.836);
  font-family: 'Roboto', sans-serif;
  font-family: 'Titillium Web', sans-serif;
  color: whitesmoke;
  display: flex;
  flex-direction: column;
  min-height: 100vh; }

/* header */
header {
  background-color: #343132;
  padding: 5px;
  text-align: center; }
  header .lobo {
    width: 100px;
    height: auto; }
  header .lobo:hover {
    transform: rotatey(180deg);
    opacity: 0.2;
    filter: blur(10px);
    filter: grayscale(30%); }
  header .nav-item {
    background-color: #7c336a;
    border-radius: 2.5%;
    padding: 0.1rem;
    margin: 0.2rem;
    font-size: 1rem; }
  header .nav-link {
    font-size: 1.3rem;
    color: whitesmoke; }

/* main */
main .h2-index {
  background-color: #343132;
  text-align: center; }

main .div-x {
  background-color: #343132;
  text-align: center;
  padding: 0.5rem;
  margin-top: 1.5rem; }

main .div-carro {
  margin: 0.5rem; }

main .div-p {
  background-color: #343132;
  text-align: center;
  padding: 0.5rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem; }

main .div-v {
  display: grid;
  justify-content: center;
  height: 200px; }

main .video {
  width: 300px;
  height: 200px; }

main .div-img {
  display: grid;
  justify-content: center; }

main .imagenes-p {
  align-items: center;
  padding: 0.5rem;
  width: 100%;
  height: auto; }

main .div-mapa {
  display: grid;
  justify-content: center;
  height: 300px;
  margin: 1.5rem; }

main .mapa {
  width: 300px;
  height: 300px; }

main li {
  list-style: none; }

main .estilo-clientes {
  display: grid;
  justify-items: center; }

main .comentarios {
  background-color: #343132;
  border-style: solid;
  border-width: 5px;
  border-color: #7c336a;
  margin: 5rem 1rem 5rem 1rem;
  padding: 0.5rem;
  font-size: 30px; }

main .contenedor {
  display: grid;
  justify-content: center;
  grid-template-columns: 1, 25%;
  grid-template-rows: 10, 30%;
  grid-template-columns: 70%; }

main .hijos {
  background-color: #343132;
  margin: 1rem;
  border-radius: 2.5%; }

main .hijos:hover {
  opacity: 0.2;
  filter: blur(10px);
  filter: grayscale(30%); }

main .contenedor-index {
  display: grid;
  justify-content: center;
  grid-template-columns: 1, 25%;
  grid-template-rows: 4, 30%;
  grid-template-columns: 70%; }

main .hijos-index {
  background-color: #343132;
  margin: 1rem;
  border-radius: 2.5%; }

main .hijos-index:hover {
  opacity: 0.2;
  filter: blur(10px);
  filter: grayscale(30%); }

main .img-grid {
  width: 100%;
  height: auto;
  padding: 1rem; }

main .ul-li {
  text-align: center;
  margin: 0.5rem; }

main .img-clientes {
  align-items: center;
  padding: 0.5rem;
  width: 100%;
  height: auto;
  border-radius: 5%; }

footer {
  margin-top: auto; }
  footer .div-pie {
    background-color: #343132;
    padding: 1.5rem; }
  footer .pie {
    text-align: center; }
  footer .divs-iconos {
    display: flex;
    flex-direction: row; }
  footer .div-icon {
    display: grid;
    justify-content: right; }
  footer .ico-size {
    margin: 0.5rem;
    width: 30px;
    height: auto; }

/* estilos de tablet */
@media screen and (min-width: 600px) and (max-width: 1024px) {
  main .contenedor {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr); }
  main .contenedor-index {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr); }
  main .div-v {
    display: grid;
    justify-content: center;
    height: 300px; }
  main .video {
    width: 500px;
    height: 300px; }
  main .div-mapa {
    height: 400px;
    margin: 1.5rem; }
  main .mapa {
    height: 400px;
    width: 500px; } }

/* estilos de pc */
@media screen and (min-width: 1024px) {
  header #navbarNav {
    display: grid;
    justify-content: right; }
  header .nav-item {
    background-color: #343132; }
  main .contenedor {
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr); }
  main .contenedor-index {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 100%); }
  main .div-carro {
    display: grid;
    justify-content: center; }
  main .av-kp {
    width: 1000px; }
  main .div-v {
    width: auto;
    height: 500px; }
  main .video {
    width: 800px;
    height: 500px; }
  main .div-mapa {
    height: 500px;
    margin: 1.5rem; }
  main .mapa {
    height: 500px;
    width: 800px; } }
