@import "utilidades/variables";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* estilos generales */
body{
    background-color: $color-principal;
    font-family: 'Roboto', sans-serif;
    font-family: 'Titillium Web', sans-serif;
    color:whitesmoke;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
 /* header */
header{
    background-color: $color-tercero;
    padding: 5px;
    text-align: center;
    .lobo{
        width: 100px;
        height: auto;
    }
    .lobo:hover{
        transform: rotatey(180deg);
        opacity: 0.2;
        filter: blur(10px);
        filter: grayscale(30%);
    }
    .nav-item{
        background-color: $color-secundario;
        border-radius: 2.5%;
        padding: 0.1rem;
        margin: 0.2rem;
        font-size: 1rem;
    }
    .nav-link{
        font-size: 1.3rem;
        color:whitesmoke;
    }

}
/* main */
main{
    .h2-index{
        background-color: #343132;
        text-align: center;
    }
    .div-x{
        background-color: #343132;
        text-align: center;
        padding: 0.5rem;
        margin-top: 1.5rem;
    }
    .div-carro{
        margin: 0.5rem;
    }
    .div-p{
        background-color: #343132;
        text-align: center;
        padding: 0.5rem;
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
    }
    .div-v{
        display: grid;
        justify-content: center;
        height: 200px;
    }
    .video{
        width: 300px;
        height: 200px;
    }
    .div-img{
        display: grid;
        justify-content: center;   
    }
    .imagenes-p{
        align-items: center;
        padding: 0.5rem;
        width: 100%;
        height: auto;
    }
    .div-mapa{
        display: grid;
        justify-content: center;
        height: 300px;
        margin: 1.5rem;
    }
    .mapa{
       width: 300px;
       height: 300px;
    }
    li{
        list-style: none
    }
    .estilo-clientes{
        display: grid;
        justify-items: center;
    }
    .comentarios{
        background-color:$color-tercero;
        border-style: solid;
        border-width: 5px;
        border-color:$color-secundario ;
        margin: 5rem 1rem 5rem 1rem;
        padding: 0.5rem;
        font-size: 30px;
    }
    .contenedor{
        display: grid;
        justify-content: center;
        grid-template-columns:1, 25%;
        grid-template-rows: 10, 30%;
        grid-template-columns:70%;
    }
    .hijos{
        background-color: #343132;
        margin: 1rem;
        border-radius: 2.5%;
}
    .hijos:hover{
        opacity: 0.2;
        filter: blur(10px);
        filter: grayscale(30%);
    }  

.contenedor-index{
    display: grid;
    justify-content: center;
    grid-template-columns:1, 25%;
    grid-template-rows: 4, 30%;
    grid-template-columns:70%;
}
.hijos-index{
    background-color: #343132;
    margin: 1rem;
    border-radius: 2.5%;
}
.hijos-index:hover{
    opacity: 0.2;
    filter: blur(10px);
    filter: grayscale(30%);
}

    .img-grid{
        width: 100%;
        height: auto;
        padding: 1rem;
    }
    .ul-li{
        text-align: center;
        margin: 0.5rem;
    }
    .img-clientes{
        align-items: center;
        padding: 0.5rem;
        width: 100%;
        height: auto;
        border-radius: 5%;
    }
    .form-register {
        width: 400px;
        background: rgb(52, 49, 50);
        padding: 30px;
        margin: auto;
        margin-top: 100px;
        border-radius: 4px;
        font-family: 'calibri';
        color: white;
        box-shadow: 7px 13px 37px #000;
      }
      
      .form-register h4 {
        font-size: 22px;
        margin-bottom: 20px;
      }
      
      .controls {
        width: 100%;
        background: rgb(52, 49, 50);
        padding: 10px;
        border-radius: 4px;
        margin-bottom: 16px;
        border: 1px solid rgb(124, 51, 106);;
        font-family: 'calibri';
        font-size: 18px;
        color: white;
      }
      
      .form-register p {
        height: 40px;
        text-align: center;
        font-size: 18px;
        line-height: 40px;
      }
      
      .form-register a {
        color: white;
        text-decoration: none;
      }
      
      .form-register a:hover {
        color: white;
        text-decoration: underline;
      }
      
      .form-register .botons {
        width: 100%;
        background: rgb(124, 51, 106);;
        border: none;
        padding: 12px;
        color: white;
        margin: 16px 0;
        font-size: 16px;
      }
    }

footer{
    margin-top: auto;
    .div-pie{
        background-color: $color-tercero;
        padding: 1.5rem;

    }
    .pie{
        text-align: center;
    }
    .divs-iconos{
        display: flex;
        flex-direction: row;
    }
    .div-icon{
        display:grid;
        justify-content: right;
    }
    .ico-size{
        margin: 0.5rem;
        width: 30px;
        height: auto;
    }
}
/* estilos de tablet */

@media screen and (min-width:600px) and (max-width:1024px){
    main{
        .contenedor{
        grid-template-columns: repeat(2, 1fr) ;
        grid-template-rows: repeat(5, 1fr);
        }
        .contenedor-index{
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 1fr);
        }
        .div-v{
            display: grid;
            justify-content: center;
            height: 300px;
        }
        .video{
            width: 500px;
            height: 300px;
        }
        .div-mapa{
            height: 400px;
            margin: 1.5rem;
        }
        .mapa{
            height: 400px;
            width: 500px;
        }
        }
    }

/* estilos de pc */

@media screen and (min-width:1024px){
    header{
        #navbarNav{
            display: grid;
            justify-content: right;

        }
        .nav-item{
            background-color: $color-tercero;
        }
    }
    main{
        .contenedor{
        grid-template-columns: repeat(5, 1fr) ;
        grid-template-rows: repeat(2, 1fr);
        }
        .contenedor-index{
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: repeat(1, 100%);
        }
        .div-carro{
            display: grid;
            justify-content: center;
        }
        .av-kp{
            width: 1000px;
        }
        .div-v{
            width: auto;
            height: 500px;
        }
        .video{
            width: 800px;
            height: 500px;
        }
        .div-mapa{
            height: 500px;
            margin: 1.5rem;
        }
        .mapa{
            height: 500px;
            width: 800px;
        }
}
.comentarios-center{
    display: grid;
    justify-content: center;
}
.comentarios{
    display: grid;
    justify-items: center;
    background-color:$color-tercero;
    border-style: solid;
    border-width: 5px;
    border-color:$color-secundario ;
    margin: 5rem 1rem 5rem 1rem;
    padding: 0.5rem;
    font-size: 30px;
    width: 1024px;
}
}